
<!-- this toolbat currently routes to dead links. Update the routing as needed -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Shiftz</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Log Out </a>
      <a mat-button [routerLink]="'/create-account'"> See Your Calendar </a>
      <a mat-button [routerLink]="'/contacts'"> Upload/Review Your Resume </a>
      <a mat-button [routerLink]="'/create-contact'"> View The Market Board </a>
      <a mat-button [routerLink]="'/activities'"> Home </a>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 18px;">Need a Shift? Get a Shift.</span>
    </mat-toolbar-row>
</mat-toolbar>

