<mat-toolbar color="primary">
    <span>Shiftz Login Page</span>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card>
        <mat-card-header>
              <mat-card-title>Please login below</mat-card-title>
        </mat-card-header>
        <form action="login" method="POST">
            <mat-card-content fxLayout="column">
                  <mat-form-field>
                        <input matInput placeholder="Email">
                      </mat-form-field>
                  <mat-form-field>
                        <input type="password" matInput placeholder="password">
                      </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                  <button routerLink = "/user-home" type="submit" mat-raised-button color="primary">Login</button>
                <button routerLink = "/register" mat-raised-button color="primary">Registration</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
